javascript/font-awesome/* linguist-vendored
javascript/jquery-ui/* linguist-vendored
javascript/jquery.js linguist-vendored
styles/font-awesome/* linguist-vendored
styles/jquery-ui/* linguist-vendored